savon/wsdl/EDTService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions name="EDTCoreService" targetNamespace="http://edt.health.ontario.ca/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ebs="http://ebs.health.ontario.ca/" xmlns:edt="http://edt.health.ontario.ca/" xmlns:idp="http://idp.ebs.health.ontario.ca/" xmlns:msa="http://msa.ebs.health.ontario.ca/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
 	<types>
 		<xsd:schema>
 			<xsd:import namespace="http://ebs.health.ontario.ca/" schemaLocation="EBSFault_schema.xsd"/>	
 			<xsd:import namespace="http://ebs.health.ontario.ca/" schemaLocation="EBS_schema.xsd"/>
 			<xsd:import namespace="http://edt.health.ontario.ca/" schemaLocation="EDTService_schema.xsd"/>
 			<xsd:import namespace="http://msa.ebs.health.ontario.ca/" schemaLocation="MSA_schema.xsd"/>
 			<xsd:import namespace="http://idp.ebs.health.ontario.ca/" schemaLocation="IDP_schema.xsd"/>
 		</xsd:schema>
 	</types>
 
     <wsp:Policy wsu:Id="request-policy">
	<wsp:ExactlyOne>
		<wsp:All>
			<wsp:All>
				<sp:SignedSupportingTokens>
					<sp:UsernameToken>
						<wsp:Policy>
							<wsp:All>
								<sp:NoPassword/>
								<sp:WssUsernameToken10/>
							</wsp:All>
						</wsp:Policy>
					</sp:UsernameToken>
				</sp:SignedSupportingTokens>
			</wsp:All>
			<wsp:ExactlyOne>
				<wsp:All>
					<sp:RequiredParts>
						<sp:Header Name="EBS" Namespace="http://ebs.health.ontario.ca/"/>
					</sp:RequiredParts>
					<sp:RequiredParts>
						<sp:Header Name="MSA" Namespace="http://msa.ebs.health.ontario.ca/"/>
					</sp:RequiredParts>
					<sp:RequiredParts>
						<sp:Header Name="SoftwareConformanceKey" Namespace=""/>
					</sp:RequiredParts>
					<sp:RequiredParts>
						<sp:Header Name="AuditId" Namespace=""/>
					</sp:RequiredParts>
					<sp:RequiredParts>
						<sp:Header Name="ServiceUserMUID" Namespace=""/>
					</sp:RequiredParts>
					<sp:RequiredParts>
						<sp:Header Name="UserID" Namespace=""/>
					</sp:RequiredParts>
					<sp:RequiredParts>
						<sp:Header Name="Timestamp" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
					</sp:RequiredParts>
				</wsp:All>
			</wsp:ExactlyOne>
			<wsp:ExactlyOne>
				<wsp:All>
					<sp:SignedParts>
						<sp:Header Name="EBS" Namespace="http://ebs.health.ontario.ca/"/>
						<sp:Header Name="MSA" Namespace="http://msa.ebs.health.ontario.ca/"/>
						<sp:Header Name="Timestamp" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
						<sp:Header Name="UsernameToken" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
						<sp:Body/>
					</sp:SignedParts>
				</wsp:All>
			</wsp:ExactlyOne>
		</wsp:All>
		<wsp:All>
			<wsp:All>
				<sp:SignedSupportingTokens>
					<sp:UsernameToken>
						<wsp:Policy>
							<wsp:All>
								<sp:WssUsernameToken10/>
							</wsp:All>
						</wsp:Policy>
					</sp:UsernameToken>
				</sp:SignedSupportingTokens>
			</wsp:All>
			<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts>
					<sp:Header Name="EBS" Namespace="http://ebs.health.ontario.ca/"/>
					<sp:Header Name="IDP" Namespace="http://idp.ebs.health.ontario.ca/"/>
					<sp:Header Name="Timestamp" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
					<sp:Header Name="UsernameToken" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/"/>
					<sp:Body/>
				</sp:SignedParts>
			</wsp:All>
			</wsp:ExactlyOne>

			<wsp:ExactlyOne>
				<wsp:All>
					<sp:RequiredParts>
						<sp:Header Name="EBS" Namespace="http://ebs.health.ontario.ca/"/>
					</sp:RequiredParts>
					<sp:RequiredParts>
						<sp:Header Name="IDP" Namespace="http://idp.ebs.health.ontario.ca/"/>
					</sp:RequiredParts>
					<sp:RequiredParts>
						<sp:Header Name="SoftwareConformanceKey" Namespace=""/>
					</sp:RequiredParts>
					<sp:RequiredParts>
						<sp:Header Name="AuditId" Namespace=""/>
					</sp:RequiredParts>
					<sp:RequiredParts>
						<sp:Header Name="ServiceUserMUID" Namespace=""/>
					</sp:RequiredParts>
					<sp:RequiredParts>
						<sp:Header Name="Timestamp" Namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
					</sp:RequiredParts>
				</wsp:All>
			</wsp:ExactlyOne>
		</wsp:All>
         </wsp:ExactlyOne>
    </wsp:Policy>
 
 	<wsdl:message name="EBSHeader">
 		<wsdl:part element="ebs:EBS" name="ebsrequest_header"/>
 	</wsdl:message>
 	<wsdl:message name="MSAHeader">
 		<wsdl:part element="msa:MSA" name="msarequest_header"/>
 	</wsdl:message>
 	<wsdl:message name="IDPHeader">
 		<wsdl:part element="idp:IDP" name="idprequest_header"/>
 	</wsdl:message>
 
  <message name="upload">
    <part element="edt:upload" name="parameters"/>
  </message>
  <message name="uploadResponse">
    <part element="edt:uploadResponse" name="parameters"/>
  </message>
  <message name="submit">
    <part element="edt:submit" name="parameters"/>
  </message>
  <message name="submitResponse">
    <part element="edt:submitResponse" name="parameters"/>
  </message>
  <message name="list">
    <part element="edt:list" name="parameters"/>
  </message>
  <message name="listResponse">
    <part element="edt:listResponse" name="parameters"/>
  </message>
  <message name="info">
    <part element="edt:info" name="parameters"/>
  </message>
  <message name="infoResponse">
    <part element="edt:infoResponse" name="parameters"/>
  </message>
  <message name="update">
    <part element="edt:update" name="parameters"/>
  </message>
  <message name="updateResponse">
    <part element="edt:updateResponse" name="parameters"/>
  </message>
  <message name="download">
    <part element="edt:download" name="parameters"/>
  </message>
  <message name="downloadResponse">
    <part element="edt:downloadResponse" name="parameters"/>
  </message>
  <message name="delete">
    <part element="edt:delete" name="parameters"/>
  </message>
  <message name="deleteResponse">
    <part element="edt:deleteResponse" name="parameters"/>
  </message>
  <message name="getTypeList">
    <part element="edt:getTypeList" name="parameters"/>
  </message>
  <message name="getTypeListResponse">
    <part element="edt:getTypeListResponse" name="parameters"/>
  </message>
    <message name="faultexception">
    <part element="ebs:EBSFault" name="Fault"/>
  </message>  

  <portType name="EDTDelegate">
    <operation name="upload">
      <input message="edt:upload"/>
      <output message="edt:uploadResponse"/>
      <fault message="edt:faultexception" name="FaultException"/>
    </operation>
    <operation name="submit">
      <input message="edt:submit"/>
      <output message="edt:submitResponse"/>
      <fault message="edt:faultexception" name="FaultException"/>
    </operation>
    <operation name="list">
      <input message="edt:list"/>
      <output message="edt:listResponse"/>
      <fault message="edt:faultexception" name="FaultException"/>
    </operation>
    <operation name="info">
      <input message="edt:info"/>
      <output message="edt:infoResponse"/>
      <fault message="edt:faultexception" name="FaultException"/>
    </operation>
    <operation name="update">
      <input message="edt:update"/>
      <output message="edt:updateResponse"/>
      <fault message="edt:faultexception" name="FaultException"/>
    </operation>
    <operation name="download">
      <input message="edt:download"/>
      <output message="edt:downloadResponse"/>
      <fault message="edt:faultexception" name="FaultException"/>
    </operation>
    <operation name="delete">
      <input message="edt:delete"/>
      <output message="edt:deleteResponse"/>
      <fault message="edt:faultexception" name="FaultException"/>
    </operation>
    <operation name="getTypeList">
      <input message="edt:getTypeList"/>
      <output message="edt:getTypeListResponse"/>
      <fault message="edt:faultexception" name="FaultException"/>
    </operation>
  </portType>
  <binding name="EDTPortBinding" type="edt:EDTDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
   
   <operation name="upload">
      <soap:operation soapAction=""/>
      <input>
                <wsp:PolicyReference URI="#request-policy"/>
		<wsdlsoap:header message="edt:EBSHeader" part="ebsrequest_header" use="literal"/>
		<wsdlsoap:header message="edt:MSAHeader" part="msarequest_header" use="literal"/>
		<wsdlsoap:header message="edt:IDPHeader" part="idprequest_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FaultException">
      	<soap:fault name="FaultException" use="literal"/>
	  </fault>        
    </operation>
    <operation name="submit">
      <soap:operation soapAction=""/>
      <input>
                <wsp:PolicyReference URI="#request-policy"/>
		<wsdlsoap:header message="edt:EBSHeader" part="ebsrequest_header" use="literal"/>
		<wsdlsoap:header message="edt:MSAHeader" part="msarequest_header" use="literal"/>
		<wsdlsoap:header message="edt:IDPHeader" part="idprequest_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FaultException">
      	<soap:fault name="FaultException" use="literal"/>
	  </fault>
    </operation>
    <operation name="list">
      <soap:operation soapAction=""/>
      <input>
                <wsp:PolicyReference URI="#request-policy"/>
		<wsdlsoap:header message="edt:EBSHeader" part="ebsrequest_header" use="literal"/>
		<wsdlsoap:header message="edt:MSAHeader" part="msarequest_header" use="literal"/>
		<wsdlsoap:header message="edt:IDPHeader" part="idprequest_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FaultException">
      	<soap:fault name="FaultException" use="literal"/>
	  </fault>
    </operation>
    <operation name="info">
      <soap:operation soapAction=""/>
      <input>
                <wsp:PolicyReference URI="#request-policy"/>
		<wsdlsoap:header message="edt:EBSHeader" part="ebsrequest_header" use="literal"/>
		<wsdlsoap:header message="edt:MSAHeader" part="msarequest_header" use="literal"/>
		<wsdlsoap:header message="edt:IDPHeader" part="idprequest_header" use="literal"/>
       <soap:body parts="parameters" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FaultException">
      	<soap:fault name="FaultException" use="literal"/>
	  </fault>
    </operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
                <wsp:PolicyReference URI="#request-policy"/>
		<wsdlsoap:header message="edt:EBSHeader" part="ebsrequest_header" use="literal"/>
		<wsdlsoap:header message="edt:MSAHeader" part="msarequest_header" use="literal"/>
		<wsdlsoap:header message="edt:IDPHeader" part="idprequest_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FaultException">
      	<soap:fault name="FaultException" use="literal"/>
	  </fault>
    </operation>
    <operation name="download">
      <soap:operation soapAction=""/>
      <input>
                <wsp:PolicyReference URI="#request-policy"/>
		<wsdlsoap:header message="edt:EBSHeader" part="ebsrequest_header" use="literal"/>
		<wsdlsoap:header message="edt:MSAHeader" part="msarequest_header" use="literal"/>
		<wsdlsoap:header message="edt:IDPHeader" part="idprequest_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FaultException">
      	<soap:fault name="FaultException" use="literal"/>
	  </fault>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
                <wsp:PolicyReference URI="#request-policy"/>
		<wsdlsoap:header message="edt:EBSHeader" part="ebsrequest_header" use="literal"/>
		<wsdlsoap:header message="edt:MSAHeader" part="msarequest_header" use="literal"/>
		<wsdlsoap:header message="edt:IDPHeader" part="idprequest_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FaultException">
      	<soap:fault name="FaultException" use="literal"/>
	  </fault>
    </operation>
    <operation name="getTypeList">
      <soap:operation soapAction=""/>
      <input>
                <wsp:PolicyReference URI="#request-policy"/>
		<wsdlsoap:header message="edt:EBSHeader" part="ebsrequest_header" use="literal"/>
		<wsdlsoap:header message="edt:MSAHeader" part="msarequest_header" use="literal"/>
		<wsdlsoap:header message="edt:IDPHeader" part="idprequest_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FaultException">
      	<soap:fault name="FaultException" use="literal"/>
	  </fault>
    </operation>
  </binding>
  <service name="EDTService">
    <port binding="edt:EDTPortBinding" name="EDTPort">
     <soap:address location="https://ws.conf.ebs.health.gov.on.ca:1441/EDTService/EDTService"/>
    </port>
  </service>
</definitions>